@{
    ViewBag.Title = "About the application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>It that solves the following two user stories:</p>
<ul>
    <li>
        As a freelancer I want to be able to register the time I spend on my projects, so that I can
        create correct invoices for my customers.
    </li>
    <li>
        As a freelancer I want to be able to get an overview of my time registrations, so that I
        can create correct invoices for my customers.
    </li>
</ul>