@{
    ViewBag.Title = " Advice for contacting TimeTracker's author";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>   
    <strong>Email:</strong> yuri.ivanchenko.ua [at] gmail.com<br />
    <strong>Skype:</strong> yuri.ivanchenko<br />
    <strong>Phone:</strong> +45 52 60 94 28
</address>
