@{
    ViewBag.Title = "TimeTracker";
}

<div class="jumbotron">
    <h1>TimeTracker</h1>
    <p class="lead">TimeTracker is a revolution in online collaboration and organization. Don't waste it. Track it.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To be able to fully utilize all the features TimeTracker provide, please register a new user.
        </p>
        <p>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Track it</h2>
        <p>
            TimeTracker gives you a powerful way to keep your time tracked.
            As a freelancer you are able to register the time being spent on your projects, so that you can create correct invoices for your customers.
        </p>
        <p>
            @Html.ActionLink("Track time", "Time", "Track", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>You can easily an overview of your time registrations, so that you can create correct invoices for your customers.</p>
        <p>
            @Html.ActionLink("Get an overview", "Overview", "Track", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })       
        </p>
    </div>
</div>