@{
    ViewBag.Title = "Hooray!";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Your time was successfully tracked. Please @Html.ActionLink("Track more", "Time", "Track") time or @Html.ActionLink("get an overview", "Overview", "Track") of your time registrations.
    </p>
</div>
